.Popular{
    width: 100%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: safe;
    flex-direction: column;
    margin-top: 50px;
  }
  h6{
   font-size: 24px;
   font-family: livvic;
   font-weight: 500;
   text-align: center;
  }
.popular-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    margin-top: 30px;
    gap: 1%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.Popular::-webkit-scrollbar {
    display: none;  
}

.popular-card {
    flex: 0 0 20%;
    height: 300px;
    border: 1.5px solid #B0BEC5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    transition: 0.4s ease;
}
.popular-card:hover{
    border: 1.5px solid #00aaff;
    transition: 0.4s ease;
    .popular-li-text{
        background: #3ea1f2df;
        transition: 0.4s ease
    };
    .popular-li-img{
        border: 1px solid   #00aaff;
        transition: 0.4s ease;
    }
}

.popular-li-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    background: #5eb4fa96;
    border-radius: 5px 5px 10px 10px;
    padding-left: 20px;
    list-style-type: none;
}


.popular-li-text li {
    width: 70%;
}

.popular-li-text i {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-li-text h3 {
    color: black;
    font-size: 10px;
    font-family: livvic;
    font-weight: 600;
}

.popular-li-text p {
    color: black;
    font-size: 15px;
    font-family: livvic;
}

.popular-li-img {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #B0BEC5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.popular-li-img img {
    width: 90%;
}

.popular-li-img i {
    display: flex;
    align-items: safe;
    justify-content: safe; /* 'safe' o'rniga 'center' yozilishi kerak */
    width: 10%;
    height: 100%;
    font-size: 20px;
}



