.result-container {
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 50px;
}
.Cancel-button{
    width: 50px;
    height: 50px;
    background: #00aaff;
    color:white;

    border-radius: 50%;
    border: 2px solid white;
}

.result-card {
    flex: 0 0 30%;
    height: 50vh;
    border: 1px solid #B0BEC5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    margin-top: 3%;
    transition: border 0.4s ease;
}

.result-card:hover {
    border: 1.5px solid #00aaff;
}

.result-li-img {
    width: 100%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #B0BEC5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.result-li-img i {
    display: flex;
    align-items: safe;
    justify-content: safe;
    width: 10%;
    height: 100%;
    font-size: 20px;
}
.result-li-img img {
    width: 90%;
}

.result-li-text {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25%;
    background: #5eb4fa96;
    border-radius: 5px 5px 10px 10px;
    padding-left: 20px;
    list-style-type: none;
}

.result-li-text li {
    width: 70%;
}

.result-li-text h3 {
    color: black;
    font-size: 13px;
    font-family: livvic;
    font-weight: 600;
}

.result-li-text p {
    color: black;
    font-size: 15px;
    font-family: livvic;
}

.result-li-text i {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;
    height: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal-search {
    margin: 0 auto;
    position: fixed;
    overflow-x: auto;
    height: 80vh;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    z-index: 1000;
}
