.Contact{
    background:#61adec9d;
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Contact-Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
   
}
.contact-left{
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    background-color:#67a4e9;
    border-radius: 20px;
    border: 2px solid #2196F3;
}
.contact-left h1{
    color:white;
    font-size: 40px;
    font-family: livvic;
}

.Contact-form{
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.Contact-form input{
    width: 45%;
    height:50px;
    border-radius:5px;
    padding-left: 10px;
    background: none;
    outline-color: rgba(55, 119, 236, 0.792);
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-family: livvic;

}
.Contact-form .message{
    width:92%;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    background: none;
    border: 1px solid white;
    outline-color: rgba(55, 119, 236, 0.792);
    color: white;
    font-size: 15px;
    font-family: livvic;
}
::placeholder{
    font-size: 15px;font-family: livvic;
    color:white;
}
.contact-button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background:none;
    border: 1px solid white;
    color: white;
    font-family: livvic;
    font-size: 15px;
}
.contact-button:hover{
    background: blueviolet;
    color: white;
    transition: 0.4s linear;
}
.contact-button:active{
    background: white;
    color: blueviolet;
    transition: 0.4s ease;
}

.contact-right {
    color: white;
    width: 30%;
    height: 40vh;
    display: flex;
    align-items: safe;
    justify-content: space-evenly;
    flex-direction: column;
}
.contact-right .Email{
    display: flex;
    align-items: safe;
    justify-content: space-evenly;
    width: 75%;
}
.contact-right .Call{
    display: flex;
    align-items: safe;
    justify-content: space-around;
    width: 60%;
}


.contact-right li{
     display: flex;
     align-items: safe;
     justify-content: space-between;
     flex-direction: column;
    list-style-type: none;
}
.contact-right div i{
    background:rgb(69, 95, 245);
    color: white;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-right i:hover{
    background: none;
    color: white;
    border: 1px solid white;
    transition: 0.4s ease;
}
.contact-right h1{
    font-family: livvic;
    color:rgb(75, 132, 255);
    font-size: 25px;

}
.contact-right p{
    color: white;   
    font-family: livvic;
    font-size: 15px;
}